@use "sass:map";
@use 'variables' as vars;
@use 'mixins' as mix;

.main-layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    map.get(vars.$colors, 'primary', 'base'),
    map.get(vars.$colors, 'primary', 'dark')
  );
}

.main-content {
  flex: 1;
  padding: 2rem 0;
  overflow-x: hidden;
  transition: transform 0.3s ease;
  
  @include mix.card-shadow;
  @include mix.rtl-support {
    margin-right: 3rem;
  }
}