<!-- src/app/features/lessons/lessons-list.component.html -->
<div class="lessons-page" dir="rtl">
  <header class="lessons-header">
    <div class="header-content">
      <button class="back-button" (click)="router.navigate(['../../'], { relativeTo: route })">
        <i class="fas fa-arrow-right"></i>
      </button>
      <h1 class="page-title">{{ (lessons$ | async)?.[0]?.title }}</h1>
    </div>
  </header>

  <ng-container *ngIf="(lessons$ | async) as lessons; else loading">
    <div class="lessons-container"
         #lessonsContainer
         [class.dragging]="isDragging"
         (mousedown)="onMouseDown($event)"
         (mousemove)="onMouseMove($event)"
         (mouseup)="onMouseUp($event)"
         (mouseleave)="onMouseLeave()"
         (touchstart)="onTouchStart($event)"
         (touchmove)="onTouchMove($event)"
         (touchend)="onTouchEnd($event)">
      <div class="lessons-wrapper" @lessonsAnimation>
        <ng-container *ngFor="let lesson of lessons; let i = index">
          <app-lesson-card
          [lesson]="lesson"
          [isActive]="lesson.id === activeLessonId"
          [isCompleting]="lesson.id === completingLessonId"
          (lessonClick)="onLessonSelected(lesson)"
          class="lesson-item">
        </app-lesson-card>

          <div class="connector-line" *ngIf="i < lessons.length - 1"></div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>