@use "sass:map";
@use 'variables' as vars;
@use 'mixins' as mix;

.circular-step {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid map.get(vars.$colors, 'accent', 'base');
    background: white;
    
    &--completed {
      border-color: map.get(vars.$colors, 'accent', 'light');
    }
}
   
.progress-indicator {
    color: map.get(vars.$colors, 'text', 'light');
    font-size: 0.875rem;
    
    @include mix.rtl-support {
      margin-left: auto;
    }
}