@use "sass:map";
@use 'variables' as vars;

.main-container {
    direction: rtl;
    background: linear-gradient(to bottom right, 
      map.get(vars.$colors, 'primary', 'base'),
      map.get(vars.$colors, 'primary', 'dark')
    );
    min-height: 100vh;
}