@use "sass:map";
@use 'variables' as vars;
@use 'mixins' as mix;
@use 'layouts';
@use 'components';
@use 'utils';

// Global styles
html, body {
 font-family: "Cairo", sans-serif;
 margin: 0 !important;
}

// Override scrollbar for RTL
[dir='rtl'] {
 scrollbar-width: thin;
 scrollbar-color: map.get(vars.$colors, 'accent', 'base') transparent;
}