// styles.scss
@import 'variables';
@import 'mixins';
@import 'layouts';
@import 'components';
@import 'utils';

// Global styles
html, body {
 font-family: "Cairo", sans-serif;
 margin: 0 !important;
}

// Override scrollbar for RTL
[dir='rtl'] {
 scrollbar-width: thin;
 scrollbar-color: map-get($colors, accent, base) transparent;
}